---
Checks: >
    *,
    -android-*,
    -darwin-*,
    -fuchsia-*,
    -linuxkernel-*,
    -llvm-*,
    -llvmlibc-*,
    -objc-*,
    -zircon-*,

    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-c-arrays,

    -hicpp-avoid-c-arrays,
    -hicpp-signed-bitwise,
    -hicpp-uppercase-literal-suffix,

    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,

    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-uppercase-literal-suffix,
    -readability-isolate-declaration,

# TODO: Evaluate these checks later.
# Only exclude checks that does not make sense, or are annoying on a general basic. If a check makes sense generally
# but there's no way to avoid it in a specific file or function, consider disabling it in that scope only.
#    -cert-err09-cpp,
#    -cert-err61-cpp,
#    -cert-fio38-c,
#    -cert-msc30-c,
#    -cert-msc32-c,
#    -cert-oop11-cpp,
#    -cert-oop54-cpp,
#    -cert-pos44-c,
#    -cert-dcl50-cpp,
#    -cert-env33-c,
#    -cert-mem57-cpp,
#    -cert-oop57-cpp,
#    -cert-oop58-cpp,
#
#    -cppcoreguidelines-avoid-goto,
#    -cppcoreguidelines-avoid-non-const-global-variables,
#    -cppcoreguidelines-macro-usage,
#    -cppcoreguidelines-no-malloc,
#    -cppcoreguidelines-owning-memory,
#    -cppcoreguidelines-pro-type-const-cast,
#    -cppcoreguidelines-pro-type-cstyle-cast,
#    -cppcoreguidelines-pro-type-reinterpret-cast,
#    -cppcoreguidelines-pro-type-union-access,
#    -cppcoreguidelines-pro-type-vararg,
#    -cppcoreguidelines-special-member-functions,
#    -cppcoreguidelines-c-copy-assignment-signature,
#    -cppcoreguidelines-explicit-virtual-functions,
#    -cppcoreguidelines-non-private-member-variables-in-classes,
#
#    -hicpp-avoid-goto,
#    -hicpp-no-assembler,
#    -hicpp-braces-around-statements,
#    -hicpp-deprecated-headers,
#    -hicpp-explicit-conversions,
#    -hicpp-function-size,
#    -hicpp-invalid-access-moved,
#    -hicpp-member-init,
#    -hicpp-move-const-arg,
#    -hicpp-named-parameter,
#    -hicpp-new-delete-operators,
#    -hicpp-no-array-decay,
#    -hicpp-no-malloc,
#    -hicpp-noexcept-move,
#    -hicpp-special-member-functions,
#    -hicpp-static-assert,
#    -hicpp-undelegated-constructor,
#    -hicpp-use-auto,
#    -hicpp-use-emplace,
#    -hicpp-use-equals-default,
#    -hicpp-use-equals-delete,
#    -hicpp-use-noexcept,
#    -hicpp-use-nullptr,
#    -hicpp-use-override,
#    -hicpp-vararg,
#
#    -misc-bool-pointer-implicit-conversion,
#    -misc-definitions-in-headers,
#    -misc-non-private-member-variables-in-classes,
#    -misc-redundant-expression,
#    -misc-static-assert,
#    -misc-unused-alias-decls,
#    -misc-unused-parameters,
#    -misc-unused-using-decls,
#
#    -modernize-use-default-member-init,
#    -modernize-use-using,
#
#    -openmp-exception-escape,
#
#    -portability-restrict-system-includes,
#
#    -readability-braces-around-statements,
#    -readability-else-after-return,
#    -readability-function-size,
#    -readability-identifier-naming,
#    -readability-named-parameter,
#    -readability-qualified-auto,
#    -readability-redundant-access-specifiers,
#    -readability-redundant-member-init,
#    -readability-redundant-preprocessor,
#    -readability-simplify-boolean-expr,