[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "roms/gb-test-roms"]
	path = roms/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
